<div *ngFor="let room of roomsData" class="room-row">
  <div class="row room-details">
    <div class="col">
      <h3>{{ room.room_number }}</h3>
    </div>
    <div class="col">
      <p>{{ room.room_type }}</p>
    </div>
    <div class="col">
      <p>{{ room.availability }}</p>
    </div>
    <div class="col">
      <p>{{ room.price }}</p>
    </div>
    <div class="col">
      <p>{{ room.slug }}</p>
    </div>
    <div class=" col room-actions">
      <div class="dropdown" mdbDropdownDirective>
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" aria-expanded="false" mdbDropdownToggle (click)="toggleDropdown(room)">
          <i class="fas fa-ellipsis-v"></i>
        </button>
        <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuButton" [hidden]="!room.showDropdown">
          <li><a class="dropdown-item" (click)="updateRoom($event, room)">Update</a></li>
          <li><a class="dropdown-item" (click)="deleteRoom($event, room.slug)">Delete</a></li>
        </ul>
      </div>
    </div>
  </div>


  <!-- Add the form for updating a room -->
  <div *ngIf="room.showUpdateForm" class="update-form">
    <h3>Update Room</h3>
    <form [formGroup]="room.updateForm" (ngSubmit)="submitUpdateForm(room, room.slug)">
      <div class="p-2">
        <input type="text" formControlName="room_number" placeholder="Room Number">
      </div>
      <div class="p-2">
        <input type="text" formControlName="room_type" placeholder="Room Type">
      </div>
      <div class="p-2">
        <input type="text" formControlName="availability" placeholder="Availability">
      </div>
      <div class="p-2">
        <input type="text" formControlName="price" placeholder="Price">
      </div>
      <div class="p-2">
        <input type="file" formControlName="room_image" (change)="onFileSelected">
      </div>
      <div class="p-2">
        <button type="submit">Update</button>
      </div>
    </form>
  </div>
</div>
