<div class="admin-container p-3">
  <section id="sidebar" [ngClass]="status ? 'hide' : ''" class="dark p-3">
    <ul class="side-menu top">
      <li class="p-2">
        <a routerLink="" routerLinkActive="active">
            <i class='bx bx-upload'></i>
            <span class="text">Home</span>
        </a>
    </li>
      <li class="p-2">
          <a routerLink="/dashboard" routerLinkActive="active">
              <i class='bx bxs-dashboard'></i>
              <span class="text">Room List</span>
          </a>
      </li>
      <li class="p-2">
          <a routerLink="/dashboard/addRoom" routerLinkActive="active">
              <i class='bx bx-upload'></i>
              <span class="text">Add Rooms</span>
          </a>
      </li>

  </ul>
  </section>
  <section id="content" class="dark">
    <div class="content-container">
      <router-outlet></router-outlet>
    </div>
  </section>
</div>
