.admin-container {
  display: flex;
}

#sidebar {
  padding: 20px;
  width: 200px;
  border: 2px solid #ccc;
  border-radius: 10px;
  height: 100%;
  margin: 20px;
  background-color: #705722;
}

ul.side-menu {
  list-style-type: none;
}

ul.side-menu li a {
  color: #fff;
}

#content {
  flex-grow: 1;
  border-radius: 10px;

}

.content-container {
  padding: 20px;
}
