.admin-container {
  display: flex;
}

#sidebar {
  border-radius: 10px;
  /* Add other styles for the sidebar */
}

#content {
  flex-grow: 1;
  border-radius: 10px;

}



.content-container {
  padding: 20px;
}
